
.bg-lightgray {
    background-color: rgb(243, 245, 249);
}

.text-white {
    color: white;
}

.text-blue {
    color: rgb(40, 128, 244);
}

section {
    padding: 50px 0;
}

.text-gray {
    color: rgb(136, 135, 135);
}

.inline-block {
    display: inline-block;
}

section .my-card > h5 {
    margin: 20px 0 25px 0;
}

section .my-card {
    margin-bottom: 20px;
}

a .glyphicon-chevron-right {
    font-size: 10px;
}

/* header - navbar */
header .container {
    line-height: 45px;
}

header .navbar  .navbar-header h4 {
    display: inline-block;
    vertical-align: middle;
}

header nav img {
    width: 30px;
    margin-left: 10px;
}

header nav ul li a {
    color: black;
}

header nav button.sign-in {
    border-color: rgb(40, 128, 244);

}

header .container .ul-right {
    margin-left: 80px;
}

header .navbar button .icon-bar {
    background-color: rgb(40, 128, 244);
}

@media all and (min-width: 768px) and (max-width: 991px) {
    header nav .navbar-toggle {
        display: block;
    }
}

header nav.navbar {
    margin-bottom: 0;
}

/* hero */

#hero {
    background-image: url(img/bg-banner-home.jpg);
    background-position: center;
    background-size: cover;
}

#hero .col-sm-7 p {
    color: rgb(175, 196, 250);
}

.box {
    width: 100%;
    background-color: white;
    border-radius: 5px;
    padding: 30px 10px;
}

#hero .box > input,
#hero .box > button {
    max-width: 350px;
    width: 100%;
    border-radius: 5px;
    line-height: 30px;
    padding-left:10px;
    margin: 5px 0;
}

.box input {
    border: 1px solid rgb(192, 191, 191);

}

.box button.create {
    border: none;
    background-color: rgb(40, 128, 244);
    color: white;
}

.box button.sign-goolge {
    border: none;
    background-color: transparent;
    box-shadow: 2px 2px 1px rgb(231, 230, 230);
    position: relative;
}

.box button .fa-google {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.box p {
    margin-top: 10px;
}

#hero .box p a {
    text-decoration: underline;
}

@media screen and (min-width: 495px) and (max-width: 767px) {
    #hero .box {
        max-width: 500px;
        margin: auto;
    }
}

/* logo */

#logo a {
    padding: 10px;
}

.container-logo {
    display: inline-block;
    vertical-align: middle;
    width: 49%;
}

.container-logo img {
    width: 100%;
    padding: 10px;
}

@media screen and (min-width: 768px) {
    .container-logo {
        width: 16%;
    }
}

/* deploy */

#deploy ul li {
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-radius: 0;
}

/* slider */

.sliders .center-block {
    margin-top: 100px;
    max-width: 700px;
}

.sliders .center-block > div {
    vertical-align: middle;
}

.sliders .center-block [class*="arrow-"] {
    width: 10%;
}

.sliders .center-block .slider {
    width: 78%;
}

.sliders .center-block .slider .container-slide img {
    width: 100%;
}

.sliders .center-block .slider .container-slide p {
    margin-bottom: 50px;
    margin-top: 30px;
}

.sliders .circle-blu {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid rgb(40, 128, 244);
}

.sliders .circle-blu.full {
    background-color: rgb(40, 128, 244);
}

.sliders .box {
    margin-bottom: 30px;
}

/* business */

#business h2 {
    margin-bottom: 40px;
}

/* regions */

#regions {
    background: linear-gradient(#2e41eb, #1d2580);
}

#regions .col-xs-4 {
    text-align: right;
}

.region {
    border-bottom: 1px solid white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.mrg-top {
    margin-top: 30px;
}

.border-none {
    border: none;
}

/* get-started */

section.get-started {
    background-color: #1d2580;
}

.get-started h2 {
    margin-bottom: 30px;
}