
.bg-lightgray {
    background-color: rgb(243, 245, 249);
}

.text-white {
    color: white;
}

.text-blue {
    color: rgb(40, 128, 244);
}

.text-darkblue {
    color: rgb(0, 0, 58);   
}

section {
    padding: 50px 0;
}

.text-gray {
    color: rgb(136, 135, 135);
}

.inline-block {
    display: inline-block;
}

section .my-card > h5 {
    margin: 20px 0 25px 0;
}

section .my-card {
    margin-bottom: 20px;
}

a span.glyphicon {
    font-size: 10px;
}

a:hover {
    text-decoration: none;
    color: #1d2580;
}

/* header - navbar */

nav {
    padding-top: 20px;
    padding-bottom: 20px;
}

nav img {
    width: 100%;
    max-width: 200px;
}

/* hamburger */
header nav .my-hamburger {
    padding: 10px;
    text-align: right;
}

header nav .my-hamburger button {
    background-color: transparent;
    border: none;
    border-radius: 4px;
}

header nav .my-hamburger button .icon-bar {
    background-color: rgb(40, 128, 244);
    display: block;
    width: 22px;
    height: 2px;
    border: 1px;
    margin: 3px;
}

/* menu list */

header ul li {
    padding: 5px;
    border-radius: 4px;
}

header ul li a {
    padding: 5px;
}

.btn-sign-in {
    border: 1px solid rgb(40, 128, 244);
}

.bg-hover-blu:hover {
    background-color: rgb(243, 245, 249);
}

/* hero */

#hero {
    background-image: url(img/bg-banner-home.jpg);
    background-position: center;
    background-size: cover;
}

#hero .col-sm-7 p {
    color: rgb(175, 196, 250);
}

.box {
    width: 100%;
    background-color: white;
    border-radius: 5px;
    padding: 30px 10px;
}

#hero .box > input,
#hero .box > button {
    max-width: 350px;
    width: 100%;
    border-radius: 5px;
    line-height: 30px;
    padding-left:10px;
    margin: 5px 0;
}

.box input {
    border: 1px solid rgb(192, 191, 191);

}

.box button.create {
    border: none;
    background-color: rgb(40, 128, 244);
    color: white;
}

.box button.sign-goolge {
    border: none;
    background-color: transparent;
    box-shadow: 2px 2px 1px rgb(231, 230, 230);
    position: relative;
}

#hero .box .container-google-logo {
    width: 20px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

#hero .box .container-google-logo img {
    width: 100%;
}

.box p {
    margin-top: 10px;
}

#hero .box p a {
    text-decoration: underline;
}

@media screen and (min-width: 495px) and (max-width: 767px) {
    #hero .box {
        max-width: 500px;
        margin: auto;
    }
}

/* logo */

.logo a {
    padding: 10px;
}

.container-logo {
    display: inline-block;
    vertical-align: middle;
    width: 49%;
}

.container-logo img {
    width: 100%;
    padding: 10px;
}

@media screen and (min-width: 768px) {
    .container-logo {
        width: 16%;
    }
}

/* deploy */

#deploy ul li {
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-radius: 0;
}

/* slider */

.sliders .center-block {
    margin-top: 100px;
    max-width: 700px;
}

.sliders .center-block > div {
    vertical-align: middle;
}

.sliders .center-block [class*="arrow-"] {
    width: 10%;
}

.sliders .center-block .slider {
    width: 78%;
}

.sliders .center-block .slider .container-slide img {
    width: 100%;
}

.sliders .center-block .slider .container-slide p {
    margin-bottom: 50px;
    margin-top: 30px;
}

.sliders .circle-blu {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid rgb(40, 128, 244);
}

.sliders .circle-blu.full {
    background-color: rgb(40, 128, 244);
}

.sliders .box {
    margin-bottom: 30px;
}

section.sliders .center-block .box h5.text-darkblue {
    margin: 0;
}

section.sliders .center-block .box p.text-darkblue{
    margin: 0 0 20px 0;
}

/* business */

#business h2 {
    margin-bottom: 40px;
}

/* regions */

.regions {
    background: linear-gradient(#2e41eb, #1d2580);
}

.regions .col-xs-4 {
    text-align: right;
}

.region {
    border-bottom: 1px solid white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.mrg-top {
    margin-top: 30px;
}

.border-none {
    border: none;
}

section.regions .region a:hover {
    color: white;
}

/* get-started */

section.get-started {
    background-color: #1d2580;
}

.get-started h2 {
    margin-bottom: 30px;
}

/* footer */

footer {
    background-color: rgb(8, 29, 75);
}

footer section img {
    margin-bottom: 10px;
}

footer section p {
    margin: 0;
}

.text-darkgray {
    color: rgb(124, 133, 155);
}

.padding-0 {
    padding-left: 0;
}

footer ul.list-social li {
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
}

footer .list-footer {
    list-style: none;
}

footer ul.list-footer {
    padding-left: 0;
}

footer ul.list-footer li {
    margin: 10px 0;
}

footer ul.list-footer li a {
    padding: 10px;
}

footer ul.list-footer li a:hover {
    color: white;
}


/* fixed button */

.container-btn-fixed {
    position: fixed;
    left: 20px;
    bottom: 20px;
}

.container-btn-fixed .shark {
    width: 55px;
    display: block;
    padding: 5px 0;
    border-radius: 4px;
    background-color: rgb(38, 109, 246);
    margin-bottom: 15px;
    position: relative;
}

.container-btn-fixed .shark .notifica {
    width: 24px;
    height: 24px;
    background-color: red;
    border: 2px solid white;
    border-radius: 50px;
    position: absolute;
    top: -12px;
    right: -12px;
}

.container-btn-fixed .shark .notifica span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10px;

}

.container-btn-fixed .shark img {
    width: 100%;
}

.container-btn-fixed .box {
    padding: 5px;
    max-width: 280px;
    display: inline-block;
    margin: 0;
    background-color: rgb(231, 231, 230);
    position: relative;
}

.container-btn-fixed .box p {
    margin: 0;
}

.container-btn-fixed .box p a:hover {
    color: rgb(0, 0, 58);   
    
}



.triangle-up {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgb(231, 231, 230);
    position: absolute;
    top: -8px;
    left: 8px;
}

.triangle-right {
    width: 0;
    height: 0;
    border-left: 8px solid rgb(231, 231, 230);
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    position: absolute;
    right: -8px;
    bottom: 8px;
}

@media screen and (min-width: 992px) {
    .container-btn-fixed {
        right: 20px; 
    }

    .container-btn-fixed .shark,
    .container-btn-fixed .box  {
        float:right;
        margin: 0;
    }

    .container-btn-fixed .box {
        margin-right: 15px;
    }

}

